<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoredataBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>VGNetWorkFramework.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VGNetworkFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F43E3F7C1C58A7F6000C7315</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4490C6B1C5F5EDB00EFBC40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F48C45361C48ECDA00EBD2A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F48C45401C48ECDA00EBD2A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
